<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
 
<!-- 230203 4교시 02_Servlet 4.1의 페이지 속성 errorPage-->

<!-- 404에러가 났을 때 location 태그 위치의 jsp 실행시켜 열어줌 꼭jsp여야 할 필요는 없다. 움직임이 없는 화면이라면 html로도 가능 -->
  <error-page>
	  <error-code>404</error-code>
	  <location>/views/error/error404.jsp</location>
  </error-page>
  
  <error-page>
		<error-code>500</error-code>
		<location>/views/error/error500.jsp</location>
  </error-page>
  

<!-- WEB-INF는 URL로 접근이 불가능함. 설정을 하는 곳이기 때문에 -->
</web-app>